{% extends "layout.html" %}

{% block customstyle %}
<link rel="stylesheet" href="/static/css/champions.css">
{% endblock %}

{% block body_top %}
    <h1 id="championsheader">CHAMPIONS</h1>
{%  endblock %}

{% block body %}
<div class="container-fluid">

        <div class="col-xs-12" id="championspic">
            <img style="border-radius:5%;height:469.2px;width:263.93px;" src="/static/images/champions/brian3.png" alt="brian">
            <h1>Brian Broussard</h1>
            <h2>2016</h2>
        <div class="col-xs-12 col-sm-6" id="championspic">
            <img src="/static/images/champions/brian1.png" alt="brian">
            <h1>Brian Broussard</h1>
            <h2>2015</h2>
        </div>
        <div class="col-xs-12 col-sm-6" id="championspic">
            <img src="/static/images/champions/brian2.png" alt="brian">
            <h1>Brian Broussard</h1>
            <h2>2014</h2>
        </div>
        <div class="col-xs-12 col-sm-6" id="championspic">
            <img src="/static/images/champions/dustin1.jpeg" alt="dustin">
            <h1>Dustin Williams</h1>
            <h2>2013</h2>
        </div>
        <div class="col-xs-12 col-sm-6" id="championspic">
            <img src="/static/images/champions/zane1.png" alt="zane">
            <h1>Zane Grant</h1>
            <h2>2012</h2>
        </div>
        <div class="col-xs-12" id="championspic">
            <img src="/static/images/champions/johnny1.jpeg" alt="johnny">
            <h1>Jonathan Meier</h1>
            <h2>2011</h2>
        </div>


    </div>
{% endblock %}


